#select-wrapper {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.select,
.second-select {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 16px;
}
@media (max-width: 768px) {
  #select-wrapper {
    padding: 0 20px;
  }
}
