#datepicker-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
  } 

  .datepicker {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  @media (max-width: 768px) {
    #datepicker-wrapper {
      padding: 0 20px;
    }
  }